.redeem-container {
  background-image: url("landing-bg.png");
  background-size: cover;
  height: 100%;
  padding-top: 150px;
  padding-left: 0;
  padding-right: 0; }
  .redeem-container h1 {
    font-size: 48px; }
  .redeem-container p {
    font-size: 36px; }
  .redeem-container button.btn {
    width: 280px; }
