
body {
  margin: 0;
  padding: 0;
}

.btn-primary {
  background-color: #e40000;
  border-color: #e40000;
}

.btn-primary:hover {
  background-color: #e40000;
  border-color: #e40000;
}

.btn-primary:active {
  background-color: #e40000;
  border-color: #e40000;
}


.btn-primary:disabled {
  background-color: #e40000;
  border-color: #e40000;
}
